doctype
html(lang=config.language)
    head
        include head
    body
        .header
            include nav
        .wrap
            .wrap-inner
                main.container
                    block container
            footer
                block copyright
        include scripts
