.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        width: 127px;
        height: 43px;
        line-height: 43px;
        font-size: 16px;
        color: #fff;
        background-color: #049694;
        &:hover {
            background-color: #07adaa;
        }
    }
    .prev+.next {
        margin-left: 10%;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}
