.home.post-list {
    max-width: 1000px;
    .post-list-item {
        background: #fff;
        margin-bottom: 20px;
        padding: 20px;
    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {
        font-size: 14px;
        color: #049694;
    }
}
